<app-header (openLoginForm)="handleLoginFormOpen()"></app-header>

<ng-container>
  <app-login-popup
    [isVisible]="isPopupVisible"
    (closePopup)="closePopup()"
  ></app-login-popup>
</ng-container>
<section class="blog-photo">
  <h1>ბლოგი</h1>
  <img src="../../assets/photos/Blog-1024x355 1.png " alt="blog photo" />
</section>

<section>
  <app-categories></app-categories>
</section>
<section>
  <div *ngIf="categories$ | async as categories" class="categories">
    <app-categories
      *ngFor="let category of categories.data"
      [category]="category"
      (click)="onClick(category?.id)"
    ></app-categories>
  </div>
</section>

<section>
  <div *ngIf="filteredBlogs$ | async as blogs" class="blogs">
    <app-blog-item
      *ngFor="let blog of blogs.data"
      [blog]="blog"
    ></app-blog-item>
  </div>
</section>
